#header-container {
    height: 40vh;
}

#content {
    height: fit-content;
    width: 100%;
    max-width: 1200px;
    padding: 0 10%;
    align-self: center;
}

#filter-container {
    width: 100%;
    height: 30px;
}

.filters {
    height: 30px;
    width: 100%;
    gap: 20px;
}

.filters input {
    box-sizing: border-box;
    background-image: url('/assets/icons/loupe.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
    height: 30px;
    max-width: 200px;
    min-width: 120px;
    border: 1px solid var(--clr-pink);
    border-radius: 999px;
}

.filters input::placeholder {
    color: var(--clr-gray);
    font-weight: 600;
    opacity: 1;
}
  
.filters input::-ms-input-placeholder {
    color: var(--clr-gray);
}



/* ########################################################### */
/* EVENTS / CARDS SECTION */
/* ########################################################### */

#event-cards-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.event-card {
    box-sizing: border-box;
    height: 220px;
    width: 200px;
    border: 3px solid var(--clr-pink);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--clr-bg-light);
}

.event-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.event-card > div {
    height: 100%;
    align-items: flex-start;
}

.card-info {
    box-sizing: border-box;
    font-size: 0.8rem;
    padding: 5px 0;
}

.card-info > div {
    height: 100%;
    justify-content: center;
}

.event-name {
    text-align: center;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid var(--clr-placeholder);
}

.event-date {

}

.event-location {

}

.event-genre {

}

.event-lineup {

}

.event-tickets {

}





/* ############################################################### */
/* SELECTED FESTIVAL  */
/* ############################################################### */


#selected-festival-container-upper {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(3px);
}

.selected-festival-container-lower {
    height: 100vh;
    width: 100%;
    z-index: 9;
}

.selected-event-date-container {
    min-width: 30%;
    height: 100%;
}

.selected-event-date {
    align-self: center;
    text-align: center;
    font-size: 3rem;
}

.selected-event-card {
    box-sizing: border-box;
    height: 60vh;
    width: 80%;
    border: 3px solid var(--clr-pink);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--clr-bg-light);
    z-index: 100;
}

.selected-event-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.selected-event-card > div {
    height: 100%;
    align-items: flex-start;
}

.selected-card-info {
    box-sizing: border-box;
    font-size: 0.8rem;
    padding: 5px 0;
    width: 100%;
}

.selected-card-info > div:last-of-type {
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.selected-card-info > div span {
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
}

.selected-event-name {
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    padding: 20px 0;
    border-bottom: 1px solid var(--clr-placeholder);
}




















/* ######################################################################### */
/* BEFORE ELEMENTS NOT VISIBLE */
/* ######################################################################### */



/* .filters input {
    box-sizing: border-box;
    position: relative;
    height: 30px;
    border: 1px solid var(--clr-pink);
    border-radius: 999px;
    padding-left: 35px;
}

.filters input::before {
    content: '';
    position: absolute !important;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    background-image: url('/assets/icons/loupe.svg');
    background-color: var(--clr-pink);
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
} */