:root {
    --clr-dark: #292929;
    --clr-dark-hover: #4b4b4b;
    --clr-active: #091931;
    --clr-nav: #CDCDCD;
    --clr-white: #FFFFFF;
    --clr-light: #F6F7F8;
    --clr-blue: #29ABE2;
    --clr-orange: #FF3D00;
    --clr-yellow: #FFA800;
    --clr-green: #7AE229;
    --clr-placeholder: #D1D1D1;
    --clr-bg-light: #f7f7f7;
    --clr-gray: #646464;
    --clr-email: #007cee;
    --clr-pink: #FF6C92;
    --clr-pink-hover: #ff4979;

    --txt-gray: #cdcdcd;

    --load-animation-duration: 600ms ease-out;
    --transition-fast: 125ms ease-in-out;
    --transition-medium: 150ms ease-in-out;
    --transition-slow: 200ms ease-in-out;

    --header-height: 85px;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg-light);
}

*,
::after,
::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 5px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8d8d8d;
}

button, input, textarea, a, h1, h2, h3, h4 {
    all: unset;
}

input, textarea {
    background-color: white;
}

:is(input, textarea):focus-within {
    border: 2px solid var(--clr-pink)
}

button, a {
    cursor: pointer;
}

a {
    color: var(--clr-blue);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    box-shadow: inset 0 0 0 1000px white;
}

input::placeholder {
    color: var(--clr-placeholder);
}

.btn-light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: 2px solid var(--clr-light);
    border-radius: 10px;
    padding: 8px 12px;
    color: white;
    transition: var(--transition-fast);
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-light:hover {
    border-color: var(--clr-blue);
    background-color: var(--clr-blue);
}

.btn-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: 2px solid var(--clr-dark);
    border-radius: 10px;
    padding: 8px 12px;
    color: var(--clr-dark);
    transition: var(--transition-fast);
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-dark:hover {
    border-color: var(--clr-blue);
    background-color: var(--clr-blue);
    color: white;
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-dark {
    background-color: var(--clr-dark);
}

.bg-active {
    background-color: var(--clr-active);
}

.bg-inactive-nav {
    color: var(--clr-inactive-nav);
}

.bg-white {
    background-color: var(--clr-white);
}

.txt-white {
    color: var(--clr-white);
}

.txt-dark {
    color: var(--clr-dark);
}

.txt-blue {
    color: var(--clr-blue);
}

.txt-big {
    font-size: 2rem;
}

.txt-normal {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25.2px;
}

.txt-small {
    font-size: .875rem;
}

.txt-tiny {
    font-size: .75rem;
}

.txt-400 {
    font-weight: 400;
}

.txt-500 {
    font-weight: 500;
}

.txt-600 {
    font-weight: 600;
}

.txt-700 {
    font-weight: 700;
}




.txt-center {
    text-align: center;
}

h2.txt-blue {
    
}

.radius-10 {
    border-radius: 10px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-30 {
    border-radius: 30px;
}

.radius-circle {
    border: 9999px;
}

.width-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-35 {
    gap: 35px;
}

.gap-40 {
    gap: 40px;
}

.gap-45 {
    gap: 45px;
}

.gap-50 {
    gap: 50px;
}

.grid-center {
    display: grid;
    place-items: center;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}



/* DISPLAY */

.d-none {
    display: none !important;
    transition: all var(--transition-slow);
}

.o-none {
    opacity: 0 !important;
}