header {
    height: 40vh;
    width: 100%;
}

#header-img {
    height: 100%;
    width: 100%;
    background-image: url('/assets/img/header-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

#header-img h1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(255, 113, 137);
    padding: 50px 0;
}

@media(max-width: 500px) {
    #header-img h1 {
        font-size: 2rem;
    }
}

@media(max-width: 400px) {
    #header-img h1 {
        font-size: 1.5rem;
    }
}

#search-bar {
    height: 40px;
    width: 100px;
}

#search-bar img {
    height: 40px;
    width: 40px;
}

header input {
    height: 40px;
    width: 35%;
    box-sizing: border-box;
    background-image: url('/assets/icons/loupe.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
    height: 40px;
    max-width: 300px;
    min-width: 220px;
    border: 2px solid var(--clr-pink);
    border-radius: 999px;
    position: relative;
}

#close-icon {
    cursor: pointer;
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 999px;
    background-image: url('/assets/icons/close.svg');
    background-position: center;
    background-size: cover;
    right: 23px;
    top: 10px;
}

.show-close #close-icon {
    display: block;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.highlight {
    box-sizing: border-box;
    background-color: rgb(255, 113, 137);
    border-radius: 7px;
    padding: 3px 5px;
    color: white;
}